{% extends 'websharkapp/base.html' %}

{% block title %}upload a trace{% endblock %}

{% block body %}

{% if errors %}
<div id=errors>
  <ul>
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
  </ul>
{% endif %}

<form action="{% url 'new_trace' %}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ name }}" />
  </div>
  <div>
    <label for="desc">Description:</label>
    <textarea id="desc" name="desc">{{ desc }}</textarea>
  </div>
  <div>
    <label for="file">File:</label>
    <input type="file" id="file" name="file" />
  </div>
  <div class="button">
    <button type="submit">Upload</button>
  </div>
</form>
{% endblock %}
