body {
    margin: 0;
    padding: 0;
    background: #552222;
}

#header, #footer, #listing, p, pre {
    margin:0;
    padding:0;
}

#header {
    background: #885555;
}

#listing {
    background: #225522;
}

#tree {
    background: #555588;
}

#hex {
    background: #888888;
}



#header {
    height: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    //height: 200px;
}

#listing {
    position: absolute;
    bottom: 100px;
    width: 100%;
    top: 100px;
}

#loading {
    background: dark red;
    font-weight: bold;
}